@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color: #0288fd;
	vertical-align:top;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text, .white-text b{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}
.text-center{
	text-align:center;}
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
   -webkit-box-shadow: 0 0 0 30px #FFFFFF00 inset !important;
   -webkit-text-fill-color: #0088ff !important;
   border-radius: 3px !important;
}


input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF00 inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 18px !important;
	-webkit-text-fill-color: #0088ff !important;
	border-radius: 3px !important;
}
.clean:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.inline-block{
	display:inline-block;}
.pointer:hover{
	cursor:pointer;}

.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.logo-img {
    height: 21px;
}
.menu-distance-height{
	height:30px;}
.header1 {
	background: #48A9FE;
    background: -moz-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #48A9FE), color-stop(100%, #0BEEF9));
    background: -webkit-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -o-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -ms-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: linear-gradient(to right, #48A9FE 0%, #0BEEF9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045ce9', endColorstr='#09c5f9', GradientType=1 );
    padding: 10px 2.5%;
	padding-bottom: 5px;
	z-index: 99999;
}

.transparent-button{
	background-color:transparent;
	border:0;}
/*Start */
.same-padding{
	padding-left:2.5%;
	padding-right:2.5%;}
.dropdown-img {
    width: 10px;
}
.hover1b{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;
	transition:.15s ease-in-out;}
.hover1:hover .hover1a{
	display:none;
	cursor:pointer;
	transition:.15s ease-in-out;}
table{
	border-collapse:collapse;}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color: #0088ff;
  margin-top: -2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color: #0088ff;
	margin-left:5px;
	    font-size: 13px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#005cad;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}

/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
	padding-top: 200px;
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /*  #0088ff w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #15212d;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* border-radius: 10px; */
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -20px;
	/* margin-left: -5px; */
	margin-right: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content {
    width: 40%;
    border: 0;
    margin-top: 100px;
    padding: 50px;
}
.menu-item{
	color:white;}
.menu-item:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
. #0088ff-menu-item{
	color: #0088ff;}
. #0088ff-menu-item:hover{
	color:#005cad;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.dropdown-img {
    margin-right: 0;
}
.menu-padding {
    margin-left: 25px;
}
.right-menu-div {
    margin-top: 5px;
}
.same-padding {
    padding-left: 90px;
    padding-right: 40px;
}
.menu-distance {
    padding-top: 20px;
}
.menu-distance2{
	padding-top:50px;}
.darkbg {
    background-color:#1e94fb;
	background-size:cover;
	background-repeat:no-repeat;
	overflow: hidden;
	padding-bottom: 50px;
}

.footer-div {
	background: #48A9FE;
    background: -moz-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #48A9FE), color-stop(100%, #0BEEF9));
    background: -webkit-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -o-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -ms-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: linear-gradient(to right, #48A9FE 0%, #0BEEF9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045ce9', endColorstr='#09c5f9', GradientType=1 );
	width:100%;
	overflow:hidden;
	text-align:center;
	padding: 3px 0;
}
.footer-div p{
	margin:0;
	font-size: 14px;
}
.min-height {
    min-height: calc(100vh - 22px);
	overflow: hidden;
}
.right-login-div {
    float: right;
    width: 50%;
    padding-top:80px;
	padding-right: 10%;

}
.login-img{
	width:100%;}
.pop-input {
    width: 100%;
    margin-bottom: 20px;
	border: 0;
    background-color: #0d2642 !important;
}
.left-login-div {
    float: left;
    width: 50%;
	padding-left: 15%;
	padding-top:80px;
}
.pop-input {
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    background-color: transparent !important;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
	color:  white !important;
	border-bottom: 1px solid  white;
}
.pop-input::-webkit-input-placeholder { /* Edge */
  color:  #0088ff;
}

.pop-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #0088ff;
}

.pop-input::placeholder {
  color:  #0088ff;
}
.blue-button {
    border: 0;
    background-color: #056beb;
    font-size: 18px;
    padding: 5px 0;
    border-radius: 3px;
	color:white;
}
.blue-button:hover{
	cursor:pointer;
	background-color:#005bce;
	transition:.15s ease-in-out;}
.blue-link{
	color:#76aff5;
		transition:.15s ease-in-out;}
.blue-link:hover{
	color:#8fc1ff;
	cursor:pointer;
}
.blue-link2{
	color:#64fff5;
	transition:.15s ease-in-out;}
.blue-link2:hover{
	color:#78fff6;
	cursor:pointer;
	}
.blue-link3{
	color:#0288fd;
	transition:.15s ease-in-out;}
.blue-link3:hover{
	color:#006cca;
	transition:.15s ease-in-out;	
}
.signup-p {
    margin-top: 0;
    margin-bottom: 50px;
}
.white-link{
	color:white;}
.white-link:hover{
	color:#005cad;
	cursor:pointer;
	transition:.15s ease-in-out;}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input {
    margin-left: 4%;
}
.input-top-text {
    margin-bottom: 8px;
    font-size: 13px;
	font-weight: 400;
	    color: white;
}
.one-button-width {
    width: 300px;
    padding: 5px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 20px;
}
.middle-spacing {
    width: 100%;
    height: 50px;
}
.quantity-input {
    float: left;
    width: 50px;
    text-align: center;
    border: 0;
    font-size: 18px;
}
.multibank-logo {
    width: 500px;
}
.document-h2 {
    margin-top: 0;
}
.document-div {
    margin-bottom: 120px;
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
. #0088ff-text{
	color: #0088ff;}
. #0088ff-text-all{
	color: #0088ff;}
.left-signature-div {
    float: left;
    width: 50%;
}
.signature-p {
    color:  #0088ff;
	font-size:15px;
}
.signature-css {
    max-width: 200px;
}
.signature-date {
    border-bottom: 1px solid grey;
    width: 200px;
}
.right-signature-div {
    width: 50%;
    float: left;
}
.margin-bottom50{
	margin-bottom:50px;}
.document-div2 {
    margin-bottom: 50px;
	    color: black;
}
.acc-p {
    min-height: 34px;
}
.signature-min-height {
    min-height: 265px;
}
.invite-btn {
    padding: 10px 20px;
    width: 200px;
}
.invitation-img {
    width: 500px;
}
.invitation-link-a {
    word-break: break-all;
	color:white;
}
h3 b{
	color:white;}
.menu-left-margin{
	margin-left:20px;}
.invite-div{
	margin-top:50px;}
.left-invite-div {
    float: left;
    max-width: 50%;
}
.right-invite-div {
    float: right;
    width: 50%;
    padding-left: 50px;
}
.invited-img {
    width: 100%;
}
.extra-margin-top {
    margin-top: 20px;
}
.ow-purple-btn {
    background-color: #0BEEF9;
	color:white;
}
.ow-purple-btn a{
	color:white;}
.ow-purple-btn:hover {
    background-color: #00c6d0;
	color:white;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    height: 100vh;
    overflow: auto;
	margin-top: 0;
	padding-bottom: 50px;
}
.no-padding-left{
	padding-left:0 !important;}
.unclickable-li {
    color: white;
    font-weight: 700;
}
.table-css{
	width:100%;}
.table-css th{
	text-align:left;
	vertical-align:top;
	padding: 10px 5px;
	background-color: #48A9FE;
	color:white;	}
.table-css td{
	text-align:left;
	vertical-align:top;
	padding: 10px 5px;}
.table-css > tbody > tr:nth-child(odd){
   background-color: #c4f3ff;
}
.table-css > tbody > tr:nth-child(even){
   background-color: #a7edff;
}
.overflow-scroll-div {
    width: 100%;
    overflow-x: auto;
	max-height: 75vh;
}
.margin-top50{
	margin-top:50px;}
.five-div-width{
	width:18%;
	float:left;}
.second-five-div{
	margin-left:2%;
	margin-right:2%;}
.five-icon {
    width: 40%;
}
.div-css {
    text-align: center;
    background-color: #634d00;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 10px;
    padding-bottom: 0;
	overflow: hidden;
background: rgba(251,123,161,1);
background: -moz-linear-gradient(-45deg, rgb(179, 146, 29) 0%, rgba(252,224,67,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(179, 146, 29)), color-stop(100%, rgba(252,224,67,1)));
background: -webkit-linear-gradient(-45deg, rgb(179, 146, 29) 0%, rgba(252,224,67,1) 100%);
background: -o-linear-gradient(-45deg, rgb(179, 146, 29) 0%, rgba(252,224,67,1) 100%);
background: -ms-linear-gradient(-45deg, rgb(179, 146, 29) 0%, rgba(252,224,67,1) 100%);
background: linear-gradient(135deg, rgb(179, 146, 29) 0%, rgba(252,224,67,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3921d', endColorstr='#fce043', GradientType=1 );
}
.five-div-p {
    font-size: 14px;
	margin-bottom: 0;
	    color: white;
}
.five-div-amount {
    margin-top: 10px;
    font-weight: 600;
	    color: white;
}
.profile-h3{
	font-weight:400;
	float:left;
	width:31%;
	color: #1d1d1d;}
.mid-profile-h3{
	margin-left:3.5%;
	margin-right:3.5%;
}
.profile-img-div{
	text-align:center;
	margin-top: 60px;
	clear:both;}
.doc-css {
    max-width: 75%;
	margin-top: 10px;
    margin-bottom: 50px;
}
.rolldate-container .rolldate-wrapper li {

    color:  #0088ff !important;
}
.rolldate-container .rolldate-panel{
    top: 100px !important;
    position: absolute !important;
    width: 85% !important;
    margin-left: 7.5% !important;}
.profile-img {
    width: 700px;
}
.top-profile-div {
    width: 100%;
}
.bottom-input-text {
    font-size: 18px;
    margin-top: 0;
	color: white;
}
.dl-menuwrapper li a {
    padding: 9px 20px;
	font-size:14px;
    color: white;
    font-weight: 500;

	}
.dl-menuwrapper li {
    font-size: 14px;
}
.no-bg-input {
    width: calc(100% - 30px);
    float: left;
	margin-bottom: 0;
}
.eye-icon {
    width: 25px;
    float: left;
    margin-top: 7px;
}
.fake-input-bg {
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: transparent;
	margin-bottom: 20px;
	border-bottom: 1px solid  white;
}
.per-input {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}
h3, p{
	color:white;}
.pop-input:focus{
	border-bottom:1px solid #83a2ff;}
.fake-input-bg .pop-input{
	border-bottom:0;}
.fake-input-bg:focus{
	border-bottom:1px solid #83a2ff;}
.blue-ow-btn {
    background-color: #48A9FE;
    border: 0;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 2px;
}
.blue-ow-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#005fd6;}
.overflow-scroll-div-with-max-height{
	max-height:85vh;}
.fix-th th{
	position:sticky;
	top: 0;
	z-index:1;

background-color: #48A9FE;
    color: white;
	}
.first-column {
    left: 0;
    position: sticky;
    z-index: 2;
}
.first-th {
    left: 0;
    top: 0 !important;
    z-index: 3 !important;
    background-color: #deae00 !important;
	color:white;
}
.table-css > tbody > tr:nth-child(odd) > .first-column{
   background-color: #ffe998;
}
.table-css > tbody > tr:nth-child(even) > .first-column{
   background-color: #ffe37d;
}
.back-png {
    width: 25px;
}
.opacity-hover:hover{
	cursor:pointer;
	opacity:.85;
	transition:.15s ease-in-out;}
.search-png {
    width: 15px;
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
}
.fake-input {
    width: calc(100% - 40px);
	margin-bottom:0;
	float:left;
	border:0 !important;
}
.fake-input-div {
    background-color: transparent;

	margin-bottom:20px;
	border-bottom: 1px solid  white;
}
.signature-div {
    height: 150px;
}
.signature-img {
    max-height: 150px;
}
.signature-logo {
    width: 200px;
}
.print-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.print-png {
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 15px;
}
.overflow-scroll-div-with-max-height180{
	max-height: calc(100vh - 180px);
}
.left-client {
    float: left;
    width: 30%;
    padding-right: 30px;
}
.right-client-signature {
    float: left;
    width: 70%;}
.print-data-p {
    color:  #0088ff;
	margin-bottom: 5px;
}
.print-border {
    border-bottom: 1px solid  #0088ff;
	margin-bottom: 30px;
}
.poppifx4u-signature {
    width: 80px;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white !important;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white !important;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid  #0088ff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.document-div3 p{
	color: black !important;}
. #0088ff-text td{
	color: #0088ff !important;}
.ow- #0088ff-text{
	color:#848484 !important;}
.ow- #0088ff-text b{
	color: #0088ff !important;}
.document-div3 h2 {
    margin-top: 35px;
    margin-bottom: 30px;
}
.straight-p1 {
    float: left;
    margin: 0;
	margin-bottom:5px;
	margin-right: 10px;
}
.straight-p2 {
    float: left;
    width: 170px;
    text-align: center;
    border-bottom: 1px solid  #0088ff;
    margin: 0;
	margin-bottom:10px;
}
.straight-p3 {
    float: left;
    margin: 0;
	margin-bottom:10px;
	margin-left: 10px;
    margin-right: 10px;
}
.small-info i{
	color:  #0088ff;
}
.small-info {
    margin-top: 0;
    font-size: 13px;
}
.big-container-div {
    width: 100%;
    overflow: hidden;
    border: 1px solid  #0088ff;
	border-bottom: 0;
}
.left-container-div1 {
    width: 35%;

	float: left;
}
.right-container-div1 {
    width: 65%;
    float: left;
	text-align: center;
	border-left:1px solid  #0088ff;
}
.document-div3 b{
	color: #000000;}
.left-fee {
    float: left;
}
.right-fee {
    float: left;
}
.line-p {
    float: left;
    border-bottom: 1px solid  #0088ff;
    text-align: center;
    width: 150px;
}
.next-to-line-p{
    float: left;
}
.top-div1 {
    border-bottom: 1px solid  #0088ff;
}
.bottom-div1, .bottom-div2, .bottom-div3, .bottom-div4{
	float:left;
	width:25%;
	text-align:center;
}
.bottom-div2, .bottom-div3, .bottom-div4{
	border-left:1px solid  #0088ff;}
.bottom-big-container-div{
	border-bottom:1px solid  #0088ff;}
.left-container-div1 {
    width: 35%;
    float: left;
    padding-left: 5%;
    padding-right: 30px;
    padding-top: 50px;
}
.big1-div {
    float: left;
    width: 50%;
	padding: 10px 30px;
}
.big2-div {
    border-left: 1px solid  #0088ff;
}
.big1{
	border-bottom:1px solid  #0088ff;
	width: 100%;
    overflow: hidden;
	display: flex;}
.right-name-p {
    float: left;
    width: 100px;
}
.left-line-p {
    width: calc(100% - 140px);
    border-bottom: 1px solid  #0088ff;
    float: left;
}
.box-signature {
    max-width: 120px;
    max-height: 3cm;
}
.blue-btn {
    border: 0;
    background-color: #056beb;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
	color:white;
}
.blue-btn:hover{
  cursor:pointer;
  background-color:#005bce;
  transition:.15s ease-in-out;
}
.eng-p {
    margin-bottom: 0;
}
.cn-p {
    margin-top: 5px;
    margin-bottom: 25px;
}
.bottom-table {
    width: 100%;
	font-size: 12px;
}
.right-page-number{
	text-align:right;
	    padding-top: 10px;}
.bottom-left-text{
	float:left;}
.bottom-left-border{
	float:left;
	border-bottom:1px solid  #0088ff;
	width: 120px;
    margin-left: 10px;}
.topline {
    margin-bottom: 0;
}
.bottomline {
    margin-top: 5px;
}
.name-p-div {
    overflow: hidden;
    min-height: 80px;
}
.signature-div3 {
    overflow: hidden;
    min-height: 3.5cm;
}
.signature-div3 .left-line-p{
	min-height:3cm;
}
.left-p-ma {
    width: 170px;
    margin-right: 30px;
}
.three-p1{
	float:left;
	width:168px;}
.mid-three-p1{
	width:278px;
	margin-left:30px;
	margin-right:30px;}
.bottom-page-div{
	display:none;}
.hidden-bottom .five-div-width {
    margin-top: 30px;
}
.file-text {
    color: white !important;
    padding-top: 15px;
}
.upload {
    width: 60%;
}

.id-img {
    width: 75%;
    margin-top: 10px;
}
.three-small-img {
    width: 25%;
}
.p-title {
    font-size: 21px;
}
.fake-upoad-spacing {
    width: 100%;
    height: 57px;
}
div::-webkit-scrollbar {
  width: 10px;
}
/* Track */
div::-webkit-scrollbar-track {
  background: #509eff !important;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #056beb !important;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #005dd2 !important;
}
.menu-h1 {
    text-align: center;
		font-size: 27px;
		margin-top: -10px;
		font-weight: normal;
	  padding-left: 20px;
		padding-bottom: 10px;
}
.menu-link-container {
    text-align: center;
    /* font-size: 21px; */
}
.notice-modal-content {
    width: 50%;
}
.small-note{
    font-size: 12px;
    color: #eaeaea;
}
.min-height-p {
    min-height: 28px;
}
.pagination-pop{
	  width:100%;
	  text-align:center;
	  margin-top: 30px;
  }
.pagination-pop-a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
}
.pagination-pop-a-active {
	text-decoration:underline;
}


.smaller-font-table th, .smaller-font-table td{
	    font-size: 13px;
		padding: 10px 3px;
}
.sort-img {
    height: 12px;
}
.pagination-pop a:hover:not(.active){
    background-color: transparent !Im;
    color: #78b9ff;
	transition:.15s ease-in-out;
}
.tablesorter-header-inner:focus, .smaller-font-table th:focus, .smaller-font-table td:focus {
	outline:none;
}
.small-h1-a{
	font-size: 18px;
	color:white;
}
.small-h1-a a {
    color: #8fc1ff;
	transition:.15s ease-in-out;
}
.small-h1-a a:hover{
	color: #76aff5;
	transition:.15s ease-in-out;
	cursor:pointer;

}
.sort-table th:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.85;}
.tablesorter .th:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.85;}
.th.headerSortUp , .th0.headerSortUp{
 background-color: #042446;
}
.th.headerSortDown{
 background-color: #042446;
}
.fake-button-div {
    text-align: center;
    width: 100%;
    background-color: #deae00;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
	color:white;
}
.fake-button-div:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color: #005cad;
	color:white;}
::-moz-selection { /* Code for Firefox */
  color: white !important;
  background: #48A9FE !important;
}

::selection {
  color: white !important;
  background: #48A9FE !important;
}
#Reset, #Reset2, #ResetMembers {
    background-color: #de0000 !important;
}
#Reset:hover, #Reset2:hover, #ResetMembers:hover {
    background-color: #ab0000 !important;
}
span.ui-datepicker-month, span.ui-datepicker-year, .ui-datepicker th span {
    color: white;
}
.uploader label{
    border: 3px solid #056beb;
    background: #056beb;
	border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.uploader label:hover {
    border-color:#025cce;
}
.add-user {
    width: 100px;
    margin-bottom: 20px;
}
.user-dash .five-icon {
    width: 20%;
}
.login-width {
    width: 50%;
    margin: 0 auto;
}
.index-logo {
    width: 100px;
    margin-top: 30px;
}
.white-div-css {
    background-color: #ffffffbf;
    padding: 10px;
	border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 149, 255, 0.69);
box-shadow: 0px 0px 15px 2px rgba(0, 149, 255, 0.69);}
.white-div-img {
    float: left;
    width: 50px;
}
.inner-white-div {
    float: left;
    padding-left: 10px;
	margin-top: 8px;
	width: calc(100% - 50px);
}
.white-div-p {
    margin-top: 0;
    margin-bottom: 0;
	text-align:left;
	color:#0088ff;
}
.white-div-amount {
    font-weight: 700;
}
.middle-title-icon {
    width: 80px;
    margin-top: 10px;
}
.pill-button {
    border-radius: 22px;
	background: #48A9FE;
    background: -moz-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #48A9FE), color-stop(100%, #0BEEF9));
    background: -webkit-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -o-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: -ms-linear-gradient(left, #48A9FE 0%, #0BEEF9 100%);
    background: linear-gradient(to right, #48A9FE 0%, #0BEEF9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045ce9', endColorstr='#09c5f9', GradientType=1 );
	transition:.15s ease-in-out;
	padding-top: 10px;
    padding-bottom: 10px;
	display: block;
}
.pill-button:hover{
background: rgba(0,86,214,1);
background: -moz-linear-gradient(-45deg, rgba(0,86,214,1) 0%, rgba(0,192,245,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,86,214,1)), color-stop(100%, rgba(0,192,245,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,86,214,1) 0%, rgba(0,192,245,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,86,214,1) 0%, rgba(0,192,245,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,86,214,1) 0%, rgba(0,192,245,1) 100%);
background: linear-gradient(135deg, rgba(0,86,214,1) 0%, rgba(0,192,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0056d6', endColorstr='#00c0f5', GradientType=1 );
transition:.15s ease-in-out;
cursor:pointer;
}
.profile-big-div .white-div-css{
	margin-bottom: 25px;
	word-break: break-all;
}
.tempo-three-clear{
	clear:both;}
.profile-big-div .white-div-img {
    margin-bottom: 20px;
}
.pop-h1:before {
    right: 0.5em;
    margin-left: -50%;
}
.pop-h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.pop-h1:before, .pop-h1:after {
    background-color:  white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.pop-h1{
	color:white;}
.pill-shape{
    border-radius: 20px;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    background-color: #deae00;
}
.tempo-three-clear3{
	clear:both;}
.lang-img{
    width: 25px;
    vertical-align: text-top;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-x: hidden;
	background: #68b8ff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  padding-top: 20px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  transition:.15s ease-in-out;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #FFF;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #94c6f2;
  background: none;
}

.no-margin {
  margin: 0;
}
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 350px;
	transition:.5s ease-in-out;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
.sidebar-icon-img{
    width: 20px;
	float:left;
	margin:8px;
	margin-left:15px;
	margin-right:22px;}
.sidebar-span{
    float: left;
    line-height: initial;
    margin-top: 10px;
    margin-left: 0px;
	margin-bottom: 8px;
    text-align: left;
	font-size: 14px;
}


.sidebar-li:hover .sidebar-span{

	transition:.15s ease-in-out;}
.sidebar-li{
	overflow:hidden;}
/* End of sidebar menu css*/
.password-width{
	    width: 40%;
}
.blue-bg-ow{
    background-image: url(../img/water-bg.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
	background-position: top;
}
.index-login-width {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
	background-color: #57d8ffad;
    border-radius: 10px;
    padding: 30px;
}
.index-login-width .h1-title{
	color: white;
}
.index-login-width .pop-input, .index-login-width .fake-input-bg{
	color:white !important;
	border-color:white;}

.index-login-width .forgot-a{
	color:white;}
.index-login-width input:-webkit-autofill,
.index-login-width input:-webkit-autofill:hover,
.index-login-width input:-webkit-autofill:focus,
.index-login-width input:-webkit-autofill:active  {
   -webkit-box-shadow: 0 0 0 30px #FFFFFF00 inset !important;
   -webkit-text-fill-color:white !important;
   border-radius: 3px !important;
}


.index-login-width input:-webkit-autofill, .index-login-width input:-webkit-autofill:hover, .index-login-width input:-webkit-autofill:focus, .index-login-width textarea:-webkit-autofill, .index-login-width textarea:-webkit-autofill:hover, .index-login-width textarea:-webkit-autofill:focus, .index-login-width select:-webkit-autofill, .index-login-width select:-webkit-autofill:hover, .index-login-width select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF00 inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 18px !important;
	-webkit-text-fill-color:white !important;
	border-radius: 3px !important;
}
.home-same-padding{
    padding-left: 40px;
    padding-right: 40px;
}

/* Overwrite */
.left-50-div {
    width: 100%;
    float: none;
	overflow:hidden;

}
.right-50-div {
    width: 100%;
    float: none;
	overflow:hidden;
}
.print-table-css td, .print-table-css th  {
    vertical-align: top;
	padding-bottom: 10px;
}
.number-td {
    width: 40px;
}
.roman-ol {
    list-style: lower-roman;
}
.roman-ol li, .latin-ol li{
    padding-left: 15px;
}
.latin-ol {
    list-style: lower-latin;
}
.box-title-p {
    border: 1px solid black;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    padding: 10px;
	margin-top: 0;
	    color: black;
}
.print-table-css {
    width: 100%;
}
.name-td, .underline-td {
    padding-bottom: 0 !important;
    padding-top: 10px;
}
.underline-td {
    border-bottom: 1px solid black;
}
.name-td {
	width: 210px;
    padding-left: 40px;
}
.add-margin-top-table{
	margin-top:10px;}
.border-box-css {
    border: 1px solid black;
    padding: 15px;
}
.first-border-td {
    padding-right: 20px;
}
.border-box-table{
	border-collapse:collapse;}
.acc-td {
    border: 1px solid black;
    padding: 10px;
    min-width: 6cm;
}
.box-div-css {
    border: 1px solid black;
    padding: 10px;}
.border-box-table2 td{
	padding-bottom:20px;}
.text-td {
    padding-left: 10px;
}
.three-table td{
	vertical-align:top;}
.no-border-td1 {
    width: 40px;
}
.signature-new-css {
    max-width: 100%;
    max-height: 3cm;
    text-align: center;
    margin: 0 auto;
}
.signature-center-p{
    text-align: center;
    margin: 0 auto;
	min-height: calc(3cm + 10px);
}
.border-td1 {
    border: 1px solid black;
    padding: 10px;
}
.underline-border {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.print-p-sign{
	margin-bottom:2px;
	text-align:center;
	margin-top: 50px;
	color: black;}
.print-p-sign-name {
    text-align: center;
    min-height: 54px;
    margin-top: 20px;
    margin-bottom: 0;
	color: black;
}
.print-p {
    color: black;
}
.three-table {
    margin-bottom: 20px;
}

.extra-grey-top {
    margin-top: 50px;
}
.overflow-auto {
    overflow-y: auto;
}
.ow-margin-bottom0 {
    margin-bottom: 0 !important;
}
.upload-h1 {
    color: white;
}
.uploader div {
    color: white;
}
.infi-big-title b {
    font-weight: 900;
}
.infi-big-title b {
    font-weight: 900;
    font-size: 21px;
}
::placeholder {
	color:white !Important;
}
.same-box-padding {
    border: 1px solid black;
    padding: 10px;
}
.red-small-text, .red-small-text b{
	color:#cc0000;}
.infi-small-title {
    margin-top: 35px;
}
.infi-ul {
    color: black;
}
.no-listing {
    list-style: none;
    padding-left: 15px;
}
.underline100-p {
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
	min-height: 25px;
}
.infi-table {
    width: 100%;
}

.height15{
	height:15px;}
.first-tdd {
    width: 200px;
}
.whitex-box {
    margin-top: 20px;
    margin-bottom: 20px;}
.infi-small-p {
    color: black;
	font-size: 12px;
}
.infi-latin {
    list-style: lower-latin;
}
.menu-distance-height2{
	height:60px;
}

.ow-padding-lpoa2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.yellow-box{
	background-color:#fff2cc;}
.blue-box{
	background-color:#deebf7;}
.lightgrey-box{
	background-color:#f2f2f2;}
.green-box{
	background-color:#e2f0d9;}
.orange-box{
	background-color:#fbe5d6;}
.darkgrey-box{
	background-color:#d6dce5;}
.stay-bottom-add {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    margin-left: -50px;
}
.stay-bottom-height {
    width: 100%;
    height: 110px;
}
.checkout-btn {
    width: 500px;
    margin-bottom: 0;
    margin-bottom: 20px;
}
.green-button {
    background: rgba(4,128,245,1);
    background: -moz-linear-gradient(left, rgba(4,128,245,1) 0%, rgba(0,160,253,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,128,245,1)), color-stop(100%, rgba(0,160,253,1)));
    background: -webkit-linear-gradient(left, rgba(4,128,245,1) 0%, rgba(0,160,253,1) 100%);
    background: -o-linear-gradient(left, rgba(4,128,245,1) 0%, rgba(0,160,253,1) 100%);
    background: -ms-linear-gradient(left, rgba(4,128,245,1) 0%, rgba(0,160,253,1) 100%);
    background: linear-gradient(to right, rgba(4,128,245,1) 0%, rgba(0,160,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0480f5', endColorstr='#00a0fd', GradientType=1 );
    border: 0;
    font-size: 21px;
    /* padding: 6px; */
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 19px;
    margin-top: 20px;
    text-align: center;
    color: white;
}
.green-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background: rgba(0,119,230,1);
	background: -moz-linear-gradient(left, rgba(0,119,230,1) 0%, rgba(0,153,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,119,230,1)), color-stop(100%, rgba(0,153,242,1)));
	background: -webkit-linear-gradient(left, rgba(0,119,230,1) 0%, rgba(0,153,242,1) 100%);
	background: -o-linear-gradient(left, rgba(0,119,230,1) 0%, rgba(0,153,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,119,230,1) 0%, rgba(0,153,242,1) 100%);
	background: linear-gradient(to right, rgba(0,119,230,1) 0%, rgba(0,153,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077e6', endColorstr='#0099f2', GradientType=1 );}
.four-box-size{
	width: 23%;
    border-radius: 5px;
    float: left;
    margin-right: 1.7%;
    background-color: white;
	margin-bottom: 20px;
}
.width103{
	width:103%;}
.shadow-white-box{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(130, 130, 130, 0.15);
	box-shadow: 0px 0px 5px 3px rgba(130, 130, 130, 0.15);
	background-color: white;
}
.square2 {
    position: relative;
    width: 100%;
}

.square2:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content2 img{
	width:100%;
	height:100%;
	    object-fit: contain;}
.math-button {
    border: 0;
    background-color: #009ffd;
    color: white;
    border-radius: 5px;
	transition:.15s ease-in-out;
}
.math-button:hover{
	cursor:pointer;
    background-color: #0481f5;
	transition:.15s ease-in-out;	
}
.math-input {
    text-align: center;
    border: 0;
	font-size: 12px;
}
.slider-product-price {
    font-weight: 800;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.product-details-div {
    padding: 3px 10px;
    overflow: hidden;
    background-color: white;
}
.slider-product-name {
    margin-bottom: 5px;
    margin-top: 2px;
    color: #818181;
    text-align: center;
    font-size: 14px;
}
.div-center {
    margin-left: auto;
    margin-right: auto;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.sidebar-nav li{
	transition:.15s ease-in-out;
}
.sidebar-nav li:hover{
	transition:.15s ease-in-out;}
.right-delete {
    float: right;
    padding: 0;
    font-size: 18px;
    color: red;
}
.right-delete:hover{
	color:#d00000;
	cursor:pointer;
	transition:.15s ease-in-out;}
.variation-label {
    margin-bottom: 0;
}
.left-cart-img-div {
    float: left;
    width: 15%;
	margin-right: 10px;
}
.left-product-details {
    float: left;
    width: calc(100% - 210px);
}
.cart-product-title {
    font-weight: 900;
    font-size: 24px;
    margin-top: 0;
	color:black;
}
.left-quantity1{
	float: left;
    margin-top: 0;
    margin-bottom: 0;
	color: #adadad;}
.left-shipping1{
	float: left;
    color: #adadad;
}
.cart-numbers {
    margin-left: 250px;
	margin-top: 0;
}
.right-rm2 {
    float: left;
    margin-left: 145px;
	margin-top:0;
	font-weight: 900;
}

.right-rm {
    font-weight: 900;
    margin-left: 310px;
}
.left-total {
    float: left;
    margin-top: 0;
	color: #adadad;
}
.close-img{
	width:25px;
	cursor:pointer;}
.per-product-div{
	border-bottom:1px solid #adadad;
	overflow: hidden;
	padding-top: 20px;
    padding-bottom: 10px;
	}
.voucher-option {
    margin-top: 30px;
}
.voucher-exp {
    font-size: 14px;
    color: #adadad;
}
.left-bottom-price{
	float:left;
	margin-bottom:0;}
.right-bottom-price{
	float:right;
	margin-bottom:0;}
.checkout-btn {
    width: 500px;
    margin-bottom: 0;
	margin-bottom: 20px;
}
.sticky-bottom-price {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: calc(100% - 130px);
    padding: 0 !important;
}
.no-sticky-bottom{
    background-color: white;
    width: 100%;
}
.with-margin-bottom{
	margin-bottom: 16px;}
.same-padding3{
	padding-left:8.2%;
	padding-right:8.2%;}
.sticky-distance-bottom{
	width:100%;
	min-height:130px;}
.right-product-x {
    float: right;
}
.weight900{
	font-weight:900;}
.ship-right-info {
    float: left;
    width: 80%;
    padding-left: 20px;
}
.right-ship-amount {
    font-size: 18px;
	color:#adadad;
}
.right-ship-price {
    font-weight: 700;
    font-size: 21px;
}
.receive-price {
    margin-top: 0;
}
.cart-footer {
    display: block !important;
    position: fixed;
    bottom: 0;
}
.mid-price {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
	margin-top: 5px;
	color:black;
}
.filter-input {
    display: none;
}
.price-table2 td, .price-table2 b  {
    padding-right: 10px;
	color:black;
}
.input-name{
	width:100%;}
.input-top-p {
    margin-bottom: 5px;
}
.green-a {
    color: #0480f5;
}
.green-a:hover{
	color:#0079ea;
	transition:.15s ease-in-out;
	cursor:pointer;}
.p-bottom {
    bottom: 0;
    position: fixed;
    width: calc(100% - 130px);
    background-color: white;
	padding-bottom: 10px;
}
.grey-border {
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
}
.extra-spacing-up-down{
	margin-top:50px;
	margin-bottom:30px;
}
.no-input {
    border: 0;
}
.all-center, .all-center input{
	text-align:center;} 
.five-box-size {
    float: left;
    width: 17.8%;
    margin-left: 0;
    margin-right: 2%;
}
.center-icon-img {
    width: 35%;
}
.center-five-ow p{
	text-align:center !important;
}
.center-five-ow .white-div-p {
    text-align: center !important;
    min-height: 50px;
}
.extra-margin-bottom .profile-h3 {
    margin-bottom: 30px;
}
.input-top-text b{
	color:white;}
.line-input{
	background-color:transparent !important;
	background:transparent !important;
	color:white !important;
	border:0;
	border-bottom: 1px solid white;
	width:100%;}
.top-button {
    border: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #c4f3ff;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
	transition:.15s ease-in-out;
}
.top-button:hover{
	cursor:pointer;
	background:#74beff;
	color:white;}
.reject-btn {
    background: transparent;
    color: white;
    border: 0;
	transition:.15s ease-in-out;
}
.reject-btn:hover{
	cursor:pointer;
	color:#e0e0e0;}
.textarea-css{
	border:1px solid white !important;
	min-height:100px;}
.left-div-css {
    display: inline-block;
    width: calc(48% - 10px);
    margin-right: 4%;
	vertical-align: top;
	    margin-top: 10px;
}
.right-div-css {
    display: inline-block;
    width: calc(48% - 10px);
	vertical-align: top;
	    margin-top: 10px;}
.min-height-total {
    min-height: 130px;
}
.dash-ow .profile-h3 {
    float: none !important;
    display: inline-block !important;
    vertical-align: top !important;
    width: calc(31% - 10px) !important;
    margin-right: 2% !important;
	padding: 10px !important;
}
.dash-ow  p{
	text-align:center !important;}
.dash-ow .distribute-btn {
    margin-top: 10px !important;
}
.same-payment {
	background-color: transparent;
    border: 0;

}
.same-payment img{
	width:20px;}
.inline-form {
    display: inline-block;
}
.receive-btn {
    margin-right: 10px;
	margin-bottom: 10px;
}
.opacity-hover2{
	transition:.15s ease-in-out;}
.opacity-hover2:hover{
	opacity:0.6;
	cursor:pointer;}
.center-width-div {
    width: 50%;
    margin: 0 auto;
}
.three-input-with-btn {
    width: calc(48% - 50px);
    display: inline-block;
}
.btn-div3 {
    display: inline-block;
    width: 90px;
	vertical-align: top;
    margin-top: 5px;
}
.second-three {
    margin-left: 4%;
}
.btn-div3 .blue-ow-btn{
	width:80px;
	margin-left:10px;}
.home-bg{
	background-image:url(../img/top-building.jpg);
	background-position:bottom;
	background-size:cover;
	padding-bottom: 140px;}
.bottom-sea-bg{
	background-image:url(../img/bottom-sea.jpg);
	background-position:top;
	background-size:cover;
	min-height:120px;}
.home-padding-top {
    padding-top: 50px;
}
.home-logo {
    width: 200px;
}
.black-text2{
	color:black;}
.home-h1 {
    margin-top: 0;
}
.banner-p {
    width: 45%;
	text-align: justify;
}
.index-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.waterfall-bg{
	background-image:url(../img/waterfall-top.jpg);
	background-position:bottom;
	background-size:cover;
	padding-bottom: 70px;
	padding-top:50px;}
.bottom-waterfall-bg{
	background-image:url(../img/waterfall-bottom.jpg);
	background-position:top;
	background-size:cover;
	min-height:120px;	
}
.footer-bg{
	background-image:url(../img/bottom-footer.jpg);
	background-position:top;
	background-size:cover;
	padding-bottom: 50px;
	padding-top:50px;	
}
.index-title-h2 {
    font-weight: 900;
}
.waterfall-p {
    width: 70%;
    margin: 0 auto;
	font-weight: 700;
	    text-align: justify;
    text-align-last: center;
}
.padding-top-bottom{
	padding-top:50px;
	padding-bottom:50px;}
.center-virus {
    width: 120px;
}
.pink-text{
	color:#d5007f;}
.h-blue-text{
	color:#0068b6;
}
.harm-p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
	text-align:justify;
	text-align-last:center;
}
.four-div-css {
    display: inline-block;
    width: 19.5%;
    margin-right: 5%;
	vertical-align: top;
	text-align:center;
}
.harm-p, .four-div-css-p{
	font-size:14px;}
.virus2 {
    width: 30%;}
.four-div-css-p {
    text-align: center;
}
.sap-bg{
	background-color:#5ec1cf;}
.blue-link4{
	color:#006cca;
	transition:.15s ease-in-out;}
.blue-link4:hover{
	cursor:pointer;
	color:#005bab;}
.h2o {
    width: 35%;
}
.h2o-logo{
	width:250px;}
.prevent-h2{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.icon-czz {
    width: 25%;
}
.width105{
	width:105%;}
.h-three-div {
    width: 29%;
    display: inline-block;
    margin-right: 4%;
    margin-bottom: 30px;
    text-align: center;
}
.icon-title {
    font-weight: 900;
}
.icon-p {
    font-size: 13px;
}

.timeline-item {
  padding: 10px 5px;
  position: relative;
  color: white;
  border-left: 2px solid white;
}
.timeline-item p {
	text-align:left;
	padding-left: 45px;
	margin-top:15px;
	margin-bottom:35px;
	font-size:14px;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 50px;
	font-weight: 900;
    font-size: 24px;
    display: block;
    margin-top: -15px;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 0;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: '';
  border: 2px solid white;
  background:#5ec1cf;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, white 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, white 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, white 60%, transparent) 1 100%;
}
.follow-harm-width{
	width:70%;
	margin-left:auto;
	margin-right:auto;}
.four-profile-div {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}
.blue-bg1{
	background-color:#00a0e8;}
.blue-bg2{
	background-color:#0068b6;}
.name-div {
    padding: 10px;
}
.coreli, .coreli1 {
    padding: 0 15px;
}
.coreli ul, .coreli1 ul {
    padding-left:15px;
}
.coreli li, .coreli1 li {
    color: black;
    margin-bottom: 10px;
    font-size: 12px;
}
.source-p {
    margin-top: 0;
    font-size: 12px;
    margin-left: 15px;
}
.three-profile-div {
    float: left;
    width: 33.33%;
}
.three-css {
    width: 30%;
    float: left;
}
.mid-three-css {
    margin-left: 5%;
    margin-right: 5%;
}
.school-jpg {
    width: 70%;
	transition:.15s ease-in-out;
	opacity:0.85;
}
.school-jpg:hover{
	cursor:pointer;
	opacity:1;}
.four-uni {
    float: left;
    width: 20%;
	margin-top: 30px;
}
.uni-jpg {
    width: 100%;
	transition:.15s ease-in-out;
	opacity:0.85;	
}
.uni-jpg:hover{
	cursor:pointer;
	opacity:1;}
.left-mid-four {
    margin-left: 6.66%;
    margin-right: 6.66%;
}
.right-mid-four {
    margin-right: 6.66%;
}
.four-pro {
    display: inline-block;
    width: calc(25% - 5px);
    padding: 0 20px;    
    margin-bottom: 50px;
    vertical-align: top;
}
.four-pro .uni-jpg {
    width: 80%;
}
.pro1-css {
    border: 0;
    padding-top: 5vh;
}
.pro-modal-content {
    border: 0;
    background-color: white;
    height: 90vh;
	width: 85%;
	overflow:auto;
}
.arrow-img {
    width: 40px;
	opacity:0.8;
	transition:.15s ease-in-out;
	cursor:pointer;
	
}
.arrow-img:hover{
	opacity:1;
}
.left-arrow {
    position: absolute;
    left: 0;
    top: calc(50% - 20px);}
.right-arrow {
    position: absolute;
    right: 0;
    top: calc(50% - 20px);}
.pro-close-css {
    position: absolute;
    right: calc(7.5% - 10px);
    color: white;
    background-color: #5ec1cf;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.pro-close-css:hover{
	background-color: #0068b6;
}
.pro-jpg{
	width:350px;}
.service-li{
	color:black;
}
.service-ul {
    width: 70%;
    margin: 0 auto;
}
.pro-des {
    width: 50%;
    margin-top: 30px;
}
.pro-des2{
    width: 100%;
    margin-top: 30px;	
}
.right-header-p {
    float: right;
	cursor:pointer;
}
.right-header-p2 {
    margin-right: 25px;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}
.login-modal-content2 {
    border: 0;
    background-color: white;
	margin-top: 10vh;
	width: 50%;}
.login-css2 {
    padding-top: 0;
}
.close-css2 {
    right: calc(25% - 15px);
    position: absolute;
    top: calc(10vh - 5px);
	color: white;
    background-color: #5ec1cf;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.close-css2:hover{
	background-color: #0068b6;
}
.ow-login-css .pop-input, .ow-login-css .fake-input-bg{
	color:black !important;
	background-color:#d7e2ff !important;}
.ow-margin-title {
    margin-bottom: 40px;
    margin-top: 0;
}
::-webkit-input-placeholder { /* Edge */
  color: grey !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey !important;
}

::placeholder {
  color: grey !important;
}
.ow-white-css .white-div-css{
	    background-color: #ffffffed !important;}
.ow-blue-button1 {
	margin:0 auto;
    width: auto !important;
    padding: 10px 30px;
}
.ow-product-big-div .slider-product-price {
    width: calc(100% - 25px);
    float: left;
}
.ow-product-big-div .right-like{
	float:right;
	margin-top:0;
	width: 25px;}
.ow-black-everything, .ow-black-everything p, .ow-black-everything h1, .ow-black-everything input, .ow-black-everything b,  .ow-black-everything th, .ow-black-everything td{
	color:black !important;	
}
.right-status-div table{
	color:black !important;}
.ow-black-everything:before, .ow-black-everything:after {
    background-color: black !important;}
.ow-float-left{
	float:left;}
.ow-float-right{
	float:right;}
.width80{
	width:80%;}
.ow-black-text2{
	color:black !important;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.margin-right12{
	margin-right:12px;}
.margin-top0{
	margin-top:0 !important;}
.margin-top15{
	margin-top:15px !important;}
.margin-top16{
	margin-top:16px !important;}
.margin-top-bottom30{
	margin-top:30px;
	margin-bottom:30px;}
.margin-top30{
	margin-top:30px !important;}
.margin-top50{
	margin-top:50px !important;}
.margin-bottom50{
	margin-bottom:50px !important;}
.two-div {
    width: 45%;
    display: inline-block;
}
.second-two {
    margin-left: 9%;
}
.ow-width80{
	width:80% !important;}
.uploader .btn{
	    background: #ffd12c;
    border-color: #ffd12c;
}
.ow-input-top-p{
	margin-bottom: 5px;
    font-size: 12px;
    color: #b7b7b7 !important;
	}
.ow-black-everything .ow-input-top-p{
    color: #b7b7b7 !important;	
}
.padding-bottom0{
	padding-bottom:0 !important;}
.margin-bottom0{
	margin-bottom:0 !important;}
@media all and (max-width: 1600px){
.box-title-p2 {
    min-height: 58px;
}

}
@media all and (max-width: 1400px){
.left-container-div1 {
    padding-left: 30px;}
.slider-product-price {
    font-size: 19px;}
}


@media all and (max-width: 1300px){
.left-cart-img-div {
    width: 25%;
}
.left-product-details {
    width: calc(75% - 20px);
}
.checkout-per-div .left-product-details {
    width: calc(75% - 10px);
}
}
@media all and (max-width: 1250px){
.line-p {
    width: 100px;
}
}
@media all and (max-width: 1200px){
.left-login-div {
    padding-left: 12%;}
.index-login-width {
    width: 55%;}
.four-box-size {
    width: 31.2%;}
.banner-p {
    width: 60%;
}
.home-bg {
    padding-bottom: 120px;
}
.bottom-sea-bg {
	    min-height: 50px;
}
.h2o {
    width: 45%;
}
}
@media all and (max-width: 1100px){
.profile-h3 {
    width: 50%;
    padding-right: 15px;
	margin-left:0;
	margin-right:0;
}
.profile-img {
    width: 50%;
}
.second-profile-h3 {
    margin-left: 20px;
    width: calc(50% - 20px);
}
.left-container-div1 {
    padding-left: 10px;
    padding-right: 10px;
}
.tempo-three-clear{
	clear:both;}
.tempo-margin-top{
    margin-top: 50px;
}
.user-dash .profile-h3 {
    width: 31%;
	padding-left:10px;
	padding-right:10px;
}
.user-dash .mid-profile-h3 {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.user-dash .five-div-p{
	min-height:0;}
.tempo-three-clear3{
	clear:none;}
.tempo-three-second-clear{
	clear:both;}
.password-width {
    width: 50%;
}
.box-title-p3 {
    min-height: 58px;
}
.center-width-div {
    width: 70%;}
}
@media all and (max-width: 1050px){
.five-div-p {
    min-height: 32px;}
}
@media all and (max-width: 1000px){
.upload-h1 {
    font-size: 24px;
}
.print-png {
    width: 30px;
    right: 5px;
}
.name-p-div {
    min-height: 100px;
}
.white-div-p{
    font-size: 14px;
}
.index-login-width {
    width: 70%;}
.no-border-td1 {
    width: 20px;
}
.pro-title {
    font-size: 18px;
}
.pro-jpg {
    width: 300px;
}
.service-li {
    font-size: 14px;
}
.service-ul {
    width: 90%;}

.pro-des {
    width: 70%;}
}
@media all and (max-width: 950px){
.line-p {
    width: 60px;
}

}
@media all and (max-width: 940px){
.box-title-p2 {
    min-height: 76px;
}

}
@media all and (max-width: 900px){
.left-login-div {
    padding-right: 0;
}
.right-login-div {
    padding-top: 120px;
    padding-left: 7%;
}
.white-div-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-big-div .four-box-size {
    width: 47.6%;
    margin-right: 1.7%;
	margin-bottom: 15px;}
.five-box-size {
    width: 31%;
    margin-bottom: 30px;
}
.center-five-ow .white-div-p {
    min-height: 40px;
    margin-top: 10px;
}
.h2o-logo {
    width: 35%;
}
.prevent-h2 {
    font-size: 18px;
}
.coreli li , .coreli1 li, .source-p{
    font-size: 10px;
}
.name-div {
    padding: 8px;
    font-size: 11px;
}
.four-pro .uni-jpg {
    width: 100%;
}

}
@media all and (max-width: 820px){
.five-div-width {
    width: 31%;
	margin-bottom: 25px;
}
.second-five-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.second-five-div2{
	margin-left:0;}
.left-container-div1 {
    font-size: 13px;
}
.right-container-div1 {
    font-size: 13px;
}
.mid-three-p1 {
    margin-left: 10px;
    margin-right: 10px;
}
.hidden-bottom .five-div-width {
    margin-top: 0;
}
.hidden-bottom .first-five-div {
    margin-left: 3.5%;
}
.hidden-bottom .second-five-div{
	margin-left:0;
}
}
@media all and (max-width: 800px){
.left-login-div {
    padding-left: 0;
    width: 80%;
    float: none;
    margin: 0 auto;
    padding-top: 30px;
}
.right-login-div {
    padding-top: 10px;
    padding-left: 0;
}
.multibank-logo {
    width: 350px;
}
.document-h2 {
    font-size: 18px;
}
.document-p {
    font-size: 13px;
}
.document-div {
    margin-bottom: 80px;
}
.signature-p {
    font-size: 13px;
}
.signature-css {
    max-width: 120px;
}

.signature-min-height {
    min-height: 180px;
}
.admin-right-menu .menu-a {
    display: none;
}
.admin-right-menu .dl-menuwrapper {
    display: block;
}
.pop-h1 {
    font-size: 24px;
}
.print-data-p {
    font-size: 14px;
}
.straight-p1, .straight-p2, .straight-p3{
	font-size: 13px;
}
.straight-p2 {
    width: 140px;}
.small-info {
    font-size: 11px;
}
.right-name-p {
    width: 65px;
    font-size: 12px;
}
.left-line-p {
    width: calc(100% - 70px);
    font-size: 12px;}
.big1-div {
    padding: 10px 20px;}
.name-p-div {
    min-height: 60px;
}
.three-p1 {
    font-size: 13px;
	width: 137px;
}
.mid-three-p1 {
	width: 226px;}
.notice-modal-content {
    width: 80%;
}
.menu-link-container {

    font-size: 18px;
}
.right-login-div {
    float: none;
    text-align: center;
    padding-left: 0;
    width: 80%;
    padding-right: 0;
    margin-left: 10%;
}

.password-width {
    width: 70%;
}
.ow-padding-lpoa {
    padding-left: 55px;
    padding-right: 5px;
}
.roman-ol{
    padding-left: 10px;
}
.latin-ol {
    padding-left: 16px;
}
.lp-ul {
    padding-left: 15px;
}
.smaller-upload {
    width: 50% !IMPORTANT;
}	
	.smaller-upload .upload-icon {
    width: 70px;
}
	.smaller-upload label{
		padding: 10px !important;
		
	}
.slider-product-price {
    font-size: 15px;
}
.slider-product-name {
    font-size: 13px;
}
.left-div-css {
    display: block;
    width: 100%;
    margin-right: 0;
}
.right-div-css {
    display: block;
    width: 100%;
	margin-top: 20px;}
.left-div-css .p-title, .right-div-css .p-title  {
    font-size: 18px;
	text-align:center;
}
.dash-ow .profile-h3 {
    width: calc(47% - 10px) !important;}
.home-logo {
    width: 150px;
}
.home-h1 {
    font-size: 18px;
}
.banner-p {
    width: 70%;
    font-size: 14px;
}
.home-bg {
    padding-bottom: 90px;
}
.waterfall-p {
    width: 85%;
	font-size: 14px;}
.index-title-h2 {
    font-size: 18px;
}
.harm-h2 {
    font-size: 18px;
}
.harm-p, .four-div-css-p {
    font-size: 13px;
}
.center-virus {
    width: 100px;
}
.virus2 {
    width: 50%;
}
.h-three-div {
    width: 45%;}
.timeline-item p {
	font-size:13px;
}
.timeline-item::before {
    font-size: 18px;
    margin-top: -14px;
}
.login-modal-content2 {
    width: 80%;
}
.close-css2 {
    right: calc(10% - 5px);
    top: 10vh;
    height: 30px;
    width: 30px;
    font-size: 25px;
}
}
@media all and (max-width: 770px){
.box-title-p2 {
    min-height: 94px;
}
.stay-bottom-add {
    margin-left: -35px;
}
}
@media all and (max-width: 750px){
.white-div-img {
	margin-top: 15px;
    margin-bottom: 15px;
    width: 35px;
}
.white-div-p {
    text-align: left;
    font-size: 14px;
}
.white-div-css{
	padding:5px;}
.box-title-p3 {
    min-height: 76px;
}
}
@media all and (max-width: 710px){
.left-container-div1, .right-container-div1 {
    font-size: 11px;
}
.line-p {
    width: 30px;
}
.left-container-div1 {
    padding-top: 35px;
}
.left-container-div1 {
    width: 25%;}
.right-container-div1 {
    width: 75%;}
.left-container-div1 .document-p{
    font-size: 11px;
}
.right-container-div1 .document-p{
    font-size: 11px;
}
.box-title-p2 {
    min-height: 112px;
}
}
@media all and (max-width: 700px){
.invitation-img {
    width: 100%;
}
.invitation-link-a {
    font-size: 14px;
}
.profile-h3 {
    width: 100%;
    padding-right: 0;
    float: none;
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
}
.left-profile-div {
    float: left;
	width:50%;
}

.profile-img {
    width: 70%;}
.doc-h1 {
    font-size: 24px;
}
.back-png {
    width: 20px;
}
.search-big-div .profile-h3{
	width:48.5%;
	float:left;
	margin-bottom: 5px;}
.search-big-div .second-profile-h3{
	margin-left:3%;}
.mid-tempo-margin-top {
    margin-top: 50px;
}
.three-small-img {
    width: 15%;
}
.fake-upoad-spacing {
    width: 0;
    height: 0;
}
.user-dash .profile-h3 {
	float: left;
}
.profile-big-div .white-div-img {
    margin-bottom: 45px;
    margin-top: 10px;
}
.index-login-width {
    width: 100%;
}
.box-title-p{
    font-size: 12px;
}
.print-table-css {
    font-size: 12px;
}
.number-td {
    width: 25px;
}
.name-td {
    padding-left: 25px;
	width: 150px;
}
.print-p, .border-box-table, .border-box-table2 {
    font-size: 12px;
}
.box-title-p2 {
    min-height: 61px;
}
.print-p-sign {
    margin-top: 30px;
}
.print-p-sign-name, .print-p-sign {
	font-size:12px;

}
.box-title-p3 {
	min-height: 48px;
}
.infi-big-title b {
    font-weight: 900;
    font-size: 18px;
}
.infi-small-title {
    margin-top: 25px;
    font-size: 14px;
}
.box-small-title {
    font-size: 14px;
}
.red-small-text, .red-small-text b {
    font-size: 12px;
}
.infi-ul, .no-listing, .infi-latin, .ul-font-size, .infi-table, .underline100-p {
    font-size: 12px;
}
.infi-small-p {
    font-size: 10px;
}
.first-tdd {
    width: 70px;
}
.no-listing, .infi-latin, .ul-font-size{
    padding-left: 20px;
}
.product-padding {
    padding-left: 60px !important;
    padding-right: 10px !important;
}
.p-bottom {
    width: calc(100% - 70px);}
.sticky-bottom-price {
    width: calc(100% - 70px);}
.center-width-div {
    width: 100%;}
.three-input-with-btn {
    width: 100%;
    display: block;
    margin-left: 0;
}
.btn-div3 {
    display: block;
    width: 100%;}
.btn-div3 .blue-ow-btn {
    width: 100%;
    margin-left: 0;
}
.four-profile-div {
    width: 50%;
}
.tempo-dual-clear{
	clear:both;}
.school-jpg {
    width: 100%;}
.four-uni {
    float: left;
    width: 45%;
    margin-bottom: 0;}
.left-mid-four {
    margin-left: 10%;
    margin-right: 0;
}
.right-mid-four {
    margin-right: 10%;
    margin-left: 0;
}
.four-pro {
    width: calc(33% - 5px);}
.pro-des {
    width: 100%;}
}
@media all and (max-width: 650px){
.three-p1 {
    font-size: 11px;
    width: 30%;
}
.mid-three-p1{
	margin-left:2%;
	margin-right:2%;}
.box-title-p2 {
    min-height: 74px;
}
.four-box-size {
    width: 30%;
    margin-right: 3%;}
}
@media all and (max-width: 630px){
.box-title-p3 {
    min-height: 61px;
}

}
@media all and (max-width: 610px){
.no-border-td1 {
    width: 10px;
}

}
@media all and (max-width: 600px){
.darkbg {
    padding-bottom: 30px;
}
.upload-h1 {
    font-size: 21px;
}
.signature-css {
    max-width: 100px;
}
.signature-date {
    width: calc(100% - 30px);
}
.signature-min-height {
    min-height: 140px;
}
.left-container-div1 {
    padding-top: 15px;
}
.straight-p2 {
    width: 100px;}
.print-png {
    width: 25px;
    right: 5px;
}
.box-signature {
    max-width: 80px;
    max-height: 2.5cm;
}
.signature-div3 .left-line-p {
    min-height: 2.5cm;
}
.profile-big-div   .profile-h3{
    width: 48.5%;
	margin-right:0;
	margin-bottom:15px;
}
.profile-big-div  .second-profile-h3{
	margin-left:3%;
}
.profile-big-div .mid-profile-h3 {
    margin-left: 0;
    margin-right: 0;
}
.profile-big-div .second-profile-h32{
	margin-left:3%;
}
.tempo-three-clear {
    clear: none;
}
.mobile-two-clear{
	clear:both;}
.password-width {
    width: 100%;
}
.acc-td {
    min-width: 3cm;
	word-break: break-all;
}
.box-title-p2 {
    min-height: 87px;
}
.stay-bottom-add .checkout-btn {
    width: calc(100% - 140px);
    margin-left: 0px;
}
.stay-bottom-height {
    height: 90px;
}
.checkout-btn {
    width: 100%;
    font-size: 18px;
	margin-bottom: 5px;
}
.checkout-btn {
    width: 100%;}
.left-cart-img-div {
    width: 100px;
}
.left-quantity1, .left-shipping1, .right-rm, .left-total, .right-rm2, .numbers-row-css {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
	text-align: left;
}
.voucher-label {
    font-size: 15px;
}
.checkout-btn {
    font-size: 18px;
	margin-bottom: 5px;
}
.ship-right-info {
    width: calc(100% - 100px);}
.top-text {
    font-size: 14px;}
.bottom-text {
    font-size: 16px;
}
.cart-product-title {
    font-size: 14px;}
.price-table2 {
    font-size: 12px;
}
.left-product-details {
    width: calc(100% - 120px);
}
.left-div-css .p-title, .right-div-css .p-title  {
    font-size: 16px;
	text-align:center;
}
.waterfall-p {
    width: 100%;}
.home-logo {
    margin-left: calc(50% - 75px);}
.home-h1 {
    text-align: center;
}
.banner-p {
    width: 100%;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;
}
.home-bg {
    padding-bottom: 110px;
}
.four-div-css {
    width: 42%;
    margin-right: 7%;
	margin-bottom: 30px;}
.harm-p{
	width:100%;}
.h2o {
    width: 65%;
}
.prevent-h2{
	width:100%;
    font-size: 15px;
}
.icon-p {
    font-size: 12px;
}
.follow-harm-width{
	width:100%;}
.pro-title {
    font-size: 15px;
}
.pro-jpg {
    width: 90%;
}
.service-li {
    font-size: 13px;
}
.service-ul {
    width: 100%;
}
}

@media all and (max-width: 580px){
.product-big-div .four-box-size {
    width: calc(100% - 25px);
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 5px;
}
}
@media all and (max-width: 550px){
.left-login-div {
    width: 100%;}
.forgot-a {
    font-size: 14px;
}
.signup-p {
    margin-bottom: 30px;
}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
    clear: both;
}
.one-button-width {
    width: 100%;}
.menu-a {
    font-size: 14px;
}
.menu-left-margin {
    margin-left: 15px;
}
.straight-p2 {
    width: 80px;
}
.min-height-p {
    min-height: 0;
}
.user-dash2  .profile-h3{
    width: 48.5%;
	margin-right:0;
	margin-bottom:15px;
}
.user-dash2 .second-profile-h3{
	margin-left:3%;
}
.profile-big-div .mid-profile-h3 {
    margin-left: 0;
    margin-right: 0;
}
.profile-big-div .second-profile-h32{
	margin-left:3%;
}
.tempo-three-clear {
    clear: none;
}
.mobile-two-clear{
	clear:both;}
.top-button {
    width: 100%;}
}
@media all and (max-width: 540px){
.four-box-title {
    min-height: 42px;
}
.user-dash .first-five-p{
	    min-height: 32px;
}
}
@media all and (max-width: 510px){
.three-table p {
    font-size: 10px;
}
.box-title-p2 {
    min-height: 77px;
}
}
@media all and (max-width: 500px){
.invite-btn {
	width:100%;}
.invite-h3 {
    text-align: center;
}
.left-invite-div {
    float: none;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.right-invite-div {
    float: none;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
}
.left-profile-div {
    float: none;
    width: 100%;
}
.profile-img-div {
    width: 100%;
    float: none;
    text-align: center;}
.left-container-div1 .document-p {
    font-size: 10px;
}
.right-container-div1 .document-p {
    font-size: 10px;
}
.big1-div {
    padding: 5px 10px;
}
.right-name-p {
    width: 55px;
    font-size: 10px;
}
.left-line-p {
    width: calc(100% - 60px);
    font-size: 10px;
}
.box-signature {
    width: auto;
    max-width: 80px;
    max-height: 2.5cm;
}
.left-p-ma {
    width: 150px;
    margin-right: 0;
}
.notice-modal-content {
    width: 85%;
}
.menu-link-container {
    font-size: 16px;
}
.same-padding {
    padding-left: 70px;
    padding-right: 20px;
}
.pop-h1 {
    font-size: 21px;
}
.middle-title-icon {
    width: 50px;}
.ow-padding-lpoa {
    padding-left: 55px;
    padding-right: 5px;
}
.four-box-size {
    width: 47%;
    margin-right: 2.5%;
	margin-bottom: 15px;
}
.five-box-size {
    width: 48%;
    margin-bottom: 20px;
}
.extra-margin-bottom .profile-h3{
	margin-bottom:20px;}
.left-div-css .p-title, .right-div-css .p-title  {
    font-size: 14px;
}
.second-two {
    margin-left: 7%;
}
.h2o {
    width: 85%;
}
.service-li {
    font-size: 11px;
    text-align: center;
    margin-bottom: 8px;
}
}


@media all and (max-width: 480px){
.five-div-width {
    width: 48%;
	margin-bottom: 10px;
}
.second-five-div {
    margin-left: 2%;
    margin-right: 0;
}
}
@media all and (max-width: 460px){
.straight-p1, .straight-p2, .straight-p3 {
    font-size: 11px;
}
.small-info {
    font-size: 10px;
}
.user-dash .second-five-p{
	min-height: 32px;
}
}
@media all and (max-width: 450px){
.usd-p {
    min-height: 40px;
}
.dash-ow .profile-h3 {
    width: 100% !important;
    margin-right: 0 !important;
}
.four-profile-div, .three-profile-div {
    width: 100%;
	float:none;
}
.three-profile-div {
    margin-bottom: 30px;
}
.four-pro {
    width: calc(50% - 5px);}
}
@media all and (max-width: 440px){
.left-container-div1 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}


}
@media all and (max-width: 430px){
.box-title-p2 {
    min-height: 88px;
}
}
@media all and (max-width: 425px){
.topline {
    min-height: 22px;
}



}
@media all and (max-width: 400px){
.multibank-logo {
    width: 230px;
}
.document-h2 {
    font-size: 16px;
}
.document-p {
    font-size: 12px;
}
.left-signature-div, .right-signature-div {
    float: none;
    width: 100%;
}
.signature-date {
    width: 100%;
}
.acc-p {
    min-height: 0;
}
.signature-min-height {
    min-height: 0;
}
.right-signature-div {
    margin-top: 30px;
}
.invitation-link-a {
    font-size: 12px;
}
.five-div-p {
    font-size: 13px;}
.five-div-amount {
    margin-top: 5px;}
.rolldate-container .rolldate-wrapper li {
    font-size: 12px !important;
}
.search-big-div .profile-h3 {
    width: 100%;
    float: none;
    margin-bottom: 5px;
    margin-left: 0;
}
.overflow-scroll-div-with-max-height180 {
    max-height: calc(100vh - 250px);
}
.straight-p1, .straight-p2, .straight-p3 {
    font-size: 11px;
}
.straight-p3 {
    margin-left: 5px;
    margin-right: 5px;
}
.print-png {
    width: 20px;
    right: 0;
}
.user-dash .first-price {
    min-height: 32px;
}
.white-div-img {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 25px;
}
.white-div-p {
    font-size: 12px;
}
.profile-big-div .white-div-img{
    margin-bottom: 0;
}
.profile-big-div .profile-h3 {
    width: 100%;
    margin-right: 0;
	margin-left:0;}
.back-h3{
	font-size:18px;}
.pop-h1 {
    font-size: 18px;
}
.pill-button{
	font-size:14px;}
.acc-td {
    min-width: 1.5cm;
}
.stay-bottom-add .checkout-btn {
    width: calc(100% - 80px);}

.left-cart-img-div {
    width: 70px;
}
.left-product-details {
    width: calc(100% - 100px);
}
.ship-product-img{
	width:100px !important;}
.distribute-btn {
    width: 100%;
    font-size: 12px;
}
.two-div {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 15px;
}

}
@media all and (max-width: 390px){
.straight-p1, .straight-p2, .straight-p3 {
    font-size: 9px;
}

}
@media all and (max-width: 370px){
.big1-div {
    float: none;
    width: 100%;
    border-left: 0;
	border-bottom:1px solid  #0088ff;
	overflow:hidden;}
.big1 {
    border-bottom: 0;
	display: block;}
.name-p-div {
    min-height: 0;
}
.signature-div3 .left-line-p {
    min-height: 0;
}
.signature-div3 {
    overflow: hidden;
    min-height: 0;
}
.slider-product-price {
    font-size: 13px;
}
.slider-product-name {
    font-size: 12px;
}
.product-big-div .four-box-size {
    width: calc(100% - 12px);
    margin-left: 3px;
}
}
@media all and (max-width: 360px){
.straight-p2 {
    width: 60px;
}
}

@media all and (max-width: 350px){
.user-dash .five-div-p, .user-dash .five-div-amount {
    font-size: 11px;
}

}
@media all and (max-width: 340px){
.right-container-div1 .document-p {
    font-size: 8px;
}
.left-container-div1 .document-p {
    font-size: 8px;
}
}
@media all and (max-width: 330px){
.left-p-ma {
    width: 134px;}

}
@media all and (max-width: 320px){
.straight-p2 {
    padding-left: 0;
    padding-right: 0;
}
.straight-p1 {
	margin-right: 2px;
}

}
@media all and (max-width: 315px){
	.product-padding {
    padding-left: 55px !important;
    padding-right: 5px !important;
}
.sticky-bottom-price {
    width: calc(100% - 60px);
}	
	
}
@media print {
.left-50-div {
    width: 50%;
    float: left;
	padding-right: 20px;
}
.right-50-div {
    float: left;
    width: 50%;
    padding-left: 20px;
}
.same-padding{
	padding-left:0.5cm;
	padding-right:0.5cm;}
*{
	color:black !important;
	font-family:arial !important;}

.document-div3 p{
	color:black;}
	.darkbg{
		background-image:none;
		background-color:transparent;}
.input-top-text{
	color:grey;
	font-size:10px;
	margin-bottom:0;}
.header, .doc-h1, .footer-div, .print-button, .no-print{
	display:none;}
.print-big-div {
    padding-top: 0;
	min-height:0;
}

.multibank-logo {
    width: 130px;
}
.document-h2 {
    font-size: 14px;
}
.document-p, .signature-p {
    font-size: 11px;
}
.signature-date {
    width: 70% !important;
}
.ow- #0088ff-text{
	color: #0088ff !important;}
.signature-css {
    max-width: 70%;
    width: auto;
    max-height: 4cm;
}
.no-print, .print-png{
	display:none;}
.signature-min-height {
    min-height: 4.5cm;
}
.menu-distance {
    padding-top: 0;
}

.bottom-table {
    font-size: 10px;
	width:100%;
}
.bottom-left-border {
    width: 60px;}
.document-div3 .document-p, .document-div3 .signature-p {
    font-size: 12px;
}
.page-break{page-break-after: always;}
.page1-div{
	height:26.3cm;
	overflow:hidden;}

.bottom-page-div{
	display:block;
	width:100%;}
.right-page-number{
	color: #0088ff;
	display:block;}
.print-margin-top{
	margin-top:0;}
.print-margin-top2{
	padding-top:0.5cm;}
#wrapper{
	display:none;}
.print-table-css{
	font-size:11px;}
.print-table-css td, .print-table-css th {
    padding-bottom: 7.5px;
}
.add-margin-top-table {
    margin-top: 7.5px;
}
b{
	font-weight:bold !important;}
.document-div3 b{
	font-weight:bold !important;}
.box-title-p {
    font-weight: 700 !important;}
.roman-ol, .latin-ol {
    padding-left: 18px;
}
.acc-td {
    min-width: 6cm;
	padding:5px;
}
.box-div-css {
    padding: 5px;
}
.border-box-table2 td {
    padding-bottom: 5px;
}
.print-p, .border-box-table, .border-box-table2 {
    font-size: 12px;
}
.signature-center-p {
    min-height: calc(1.2cm + 5px);
}
.signature-new-css {
    max-height: 1.2cm;}
.box-title-p2, .box-title-p3 {
    min-height: 48px;
}
.extra-grey-top {
    margin-top: 10px;
}
.three-table {
    margin-bottom: 0;
}
}
